# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ContraryProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\E-artsup\2e semestre\Workshops\workshop Contrary Project\ContraryProject\.idea\.idea.ContraryProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
